/* Main color: #fa5252 #e03131*/
/* Secondary colod: #4263eb #364fc7 */
/* Gray color: #343a40 #868e96 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background: #e03131;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
}

/* ===== Headings ===== */

.primary-heading {
  font-size: 5.2rem;
  line-height: 1.05;
  padding-bottom: 1rem;
  margin-bottom: 3.2rem;

  letter-spacing: -0.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 6rem;
}

.heading-tertiary {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

/* === Site elements === */

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.history-text,
.sport-team-text,
.job-text {
  font-size: 2.4rem;
  line-height: 1.4;
}

.history-text:not(:last-child),
.sport-team-text:not(:last-child),
.job-text:not(:last-child) {
  margin-bottom: 2rem;
}

/* ===== Hero section ===== */

.section-hero {
  height: calc(100vh + 8rem);
  padding: 8rem 4.8rem;
  margin-top: 0;
  margin-bottom: 2.4rem;

  background-image: linear-gradient(to top, #fff 0%, transparent 8rem),
    linear-gradient(to right, rgba(224, 49, 49, 1) 0%, transparent 45%),
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/o-firmie-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hero-100 {
  max-width: 100rem;
  color: #fff;
}

.hero-text {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.4;
  /* margin-bottom: 1rem; */
  transition-delay: 150ms;
}

/* ===== History section ===== */

.history-section {
  padding: 7.2rem 0;
  text-align: justify;
}

/* ===== Sport team section ===== */

.sport-team-section {
  padding: 9.6rem 0;
}

.sport-team-content-box {
  display: flex;
  justify-content: space-between;
  /* flex-flow: wrap; */
  gap: 3.6rem;
}

.sport-team-img-box {
  background-image: url(img/team-jersey.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.sport-team-content-box .sport-team-text-box,
.sport-team-content-box .sport-team-img-box {
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
}

/* ===== Job section ===== */

.job-section {
  padding: 6rem 0 9.6rem;
}

.job-fb-link,
.job-fb-link:link,
.job-fb-link:visited {
  color: #4267b2;
}

.job-contact-link,
.job-contact-link:link,
.job-contact-link:visited {
  color: #e03131;
}

/* ========== LINK STYLING ========== */

.job-cta,
.job-cta:link,
.job-cta:visited {
  font-weight: 600;
  text-decoration: none;
}

.job-cta:hover,
.job-cta:active {
  text-decoration: underline;
}

/* smol */

.w500 {
  font-weight: 500;
}
