/* Main color: #fa5252 #e03131*/
/* Secondary colod: #4263eb #364fc7 */
/* Gray color: #343a40 #868e96 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background: #e03131;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
}

/* ===== Headings ===== */

.primary-heading {
  font-size: 5.2rem;
  color: #fff;
  line-height: 1.05;
  padding-bottom: 1rem;
  /* margin-bottom: 2.2rem; */
}

.heading-tertiary {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

/* ===== Site elements ===== */

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

/* ===== Hero section ===== */

.section-hero {
  padding: 4.8rem 0 7.2rem 0;
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 30%
    ),
    linear-gradient(to right, rgba(224, 49, 49, 1) 0%, rgba(0, 0, 0, 0) 45%),
    url("img/oferta-heading-bg.jpg");
  background-size: cover;
  background-position: center;
}

.hero {
  max-width: 130rem;
  padding: 0 4.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.2rem;
  margin: 0 auto;
  position: relative;
}

/* ===== About section ===== */

.about-section {
  padding: 9.6rem 0;
}

.about-section .heading-secondary {
  margin-bottom: 3.2rem;
}

.about-text {
  font-size: 2.4rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

/* ===== Link Styling ===== */

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #343a40;
  background-color: #fff;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: 2px solid #868e96;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  color: #fff;
  background-color: #868e96;
  border: 2px solid #868e96;
  transition: 0.3s;
}

.btn-big:link,
.btn-big:visited {
  background-color: #fa5252;
  color: #fff;
  border: none;
  transition: 0.3s;
}

.btn-big:hover {
  background-color: #e03131;
  border: none;
  transition: 0.3s;
}

/* smol */

.highlight {
  border-bottom: 2px solid #e03131;
}

.reader-text {
  display: none;
}
