/* Main color: #fa5252 #e03131*/
/* Secondary colod: #4263eb #364fc7 */
/* Gray color: #343a40 #868e96 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background: #e03131;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
}

/* ===== Headings ===== */

.primary-heading {
  font-size: 5.2rem;
  line-height: 1.05;
  padding-bottom: 1rem;
  margin-bottom: 3.2rem;

  letter-spacing: -0.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 6rem;
}

.heading-tertiary {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

/* === Site elements === */

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

/* ===== Hero section ===== */

.section-hero {
  height: calc(100vh + 8rem);
  padding: 8rem 4.8rem;
  margin-top: 0;

  background-image: linear-gradient(to top, #fff 0%, transparent 8rem),
    linear-gradient(to right, rgba(224, 49, 49, 1) 0%, transparent 45%),
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/realizacje-bg.webp);
  background-size: cover;
  background-position: center;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  width: 120rem;
  color: #fff;
}

.hero-text {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.4;
  /* margin-bottom: 1rem; */
  transition-delay: 150ms;
}

/* ===== Gallery section ===== */

.gallery-section {
  padding-bottom: 6rem;
  padding-top: 6rem;
}

.gallery {
  height: 30rem;
  display: flex;
  gap: 4.8rem;
  overflow-x: scroll;
  padding-bottom: 1rem;
}

.gallery img {
  height: 100%;
}
