/* Main color: #fa5252 #e03131*/
/* Secondary colod: #4263eb #364fc7 */
/* Gray color: #343a40 #868e96 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background: #e03131;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
}

/* ===== Headings ===== */

.primary-heading {
  font-size: 5.2rem;
  color: #fff;
  line-height: 1.05;
  padding-bottom: 1rem;
  margin-bottom: 3.2rem;

  letter-spacing: -0.2rem;
}

.heading-tertiary {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

/* ===== Site elements ===== */

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.services-text,
.clients-text,
.distributors-text,
.device-text {
  font-size: 2.6rem;
  font-weight: 500;
}

.services-text:not(:last-child),
.clients-text:not(:last-child),
.distributors-text:not(:last-child),
.device-text:not(:last-child) {
  margin-bottom: 2rem;
}

/* ===== Hero section ===== */

.section-hero {
  height: calc(100vh + 8rem);
  padding: 8rem 4.8rem;
  margin-top: 0;

  background-image: linear-gradient(to top, #fff 0%, transparent 8rem),
    linear-gradient(to right, rgba(224, 49, 49, 1) 0%, transparent 45%),
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("img/oferta-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hero-100 {
  max-width: 100rem;
  color: #fff;
}

.hero-text {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.4;
  /* margin-bottom: 1rem; */
  transition-delay: 150ms;
}

/* ===== Services section ===== */

.services-section {
  padding: 9.6rem 0 6rem;
}

.services-section .heading-secondary {
  margin-bottom: 3.2rem;
}

.services-list li::before {
  background-image: url(img/checkmark.svg);
}

/* ===== Clients section ===== */

.clients-section {
  padding: 6rem 0;
}

.clients-list {
  margin-bottom: 0 !important;
}

.clients-list li::before {
  background-image: url(img/work.png);
}

/* ===== Distributors section ===== */

.distributors-section {
  padding: 6rem 0 6rem;
}

.distributors-list li::before {
  background-image: url(img/product.png);
}

/* ===== Devices section ===== */

.devices-section {
  padding: 9.6rem 0;
}

.device-grid-heading {
  margin-bottom: 0;
}

.device-element-heading {
  font-weight: 500;
}

.device-heading,
.device-grid-heading,
.device-element-heading {
  text-align: center;
}

.device-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
}

.device-grid:not(:last-child) {
  padding: 4.8rem 0;
  border-bottom: 2px solid #e9ecef;
}

.device-grid-heading {
  grid-column: 1 / -1;
}

.device-info {
  font-size: 1.8rem;
  text-align: justify;
}

.device-info:not(:last-child) {
  margin-bottom: 1.2rem;
}

.device-text {
  grid-column: 1 / -1;
}

.device-recuperation {
  padding-top: 4.8rem;
}

/* ========== LIST STYLING ========== */

.styled-list {
  list-style: none;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 6rem;

  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.styled-list li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.styled-list li::before {
  flex-shrink: 0;
  content: "";
  background-size: cover;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
}

/* ===== Link Styling ===== */

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #343a40;
  background-color: #fff;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: 2px solid #868e96;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  color: #fff;
  background-color: #868e96;
  border: 2px solid #868e96;
  transition: 0.3s;
}

.btn-big:link,
.btn-big:visited {
  background-color: #fa5252;
  color: #fff;
  border: none;
  transition: 0.3s;
}

.btn-big:hover {
  background-color: #e03131;
  border: none;
  transition: 0.3s;
}

/* smol */

.bottom-32 {
  margin-bottom: 3.2rem !important;
}

.no-pad-top {
  padding-top: 0 !important;
}
